@font-face {
    font-family: 'irannastaligh';
    src: url('../fonts/Nastaliq/IranNastaliq.eot') format('eot');
    src: url('../fonts/Nastaliq/IranNastaliq.ttf') format('ttf');
    src: url('../fonts/Nastaliq/IranNastaliq.woff') format('woff');
}

@font-face{
    font-family: 'iransans';

    /* eot format font */
    src: url('../fonts/iransans/eot/IRANSans\(FaNum\)_Medium.eot') format('eot');
    src: url('../fonts/iransans/eot/IRANSansWeb\(FaNum\).eot') format('eot');
    src: url('../fonts/iransans/eot/IRANSansWeb\(FaNum\)_Bold.eot') format('eot');
    src: url('../fonts/iransans/eot/IRANSansWeb\(FaNum\)_Medium.eot') format('eot');
    src: url('../fonts/iransans/eot/IRANSansWeb\(FaNum\)_UltraLight.eot') format('eot');
    src: url('../fonts/iransans/eot/IRANSansWeb\(FaNum\)_Light.eot') format('eot');
    
    /* ttf format font */

    src: url('../fonts/iransans/ttf/IRANSansWeb\(FaNum\).ttf') format('ttf');
    src: url('../fonts/iransans/ttf/IRANSansWeb\(FaNum\)_Bold.ttf') format('ttf');
    src: url('../fonts/iransans/ttf/IRANSansWeb\(FaNum\)_Light.ttf') format('ttf');
    src: url('../fonts/iransans/ttf/IRANSansWeb\(FaNum\)_Medium.ttf') format('ttf');
    src: url('../fonts/iransans/ttf/IRANSansWeb\(FaNum\)_UltraLight.ttf') format('ttf');

    /* woff format font */

    src: url('../fonts/iransans/woff/IRANSansWeb\(FaNum\).woff') format('woff');
    src: url('../fonts/iransans/woff/IRANSansWeb\(FaNum\)_Bold.woff') format('woff');
    src: url('../fonts/iransans/woff/IRANSansWeb\(FaNum\)_Light.woff') format('woff');
    src: url('../fonts/iransans/woff/IRANSansWeb\(FaNum\)_Medium.woff') format('woff');
    src: url('../fonts/iransans/woff/IRANSansWeb\(FaNum\)_UltraLight.woff') format('woff');
}
